details {
  & summary {
    position: relative;

    &::-webkit-details-marker {
      display: none;
    }

    &:after {
      top: 50%;
      right: 0;

      transition: all .3s;

      @include pseudoElement(20px);
      @include css-triangle(black, down);
    }
  }

  &[open] {
    & summary:after {
      transform: rotate(180deg);
    }
  }
}
